@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --bg-color: rgb(0, 0, 0);
}

body {
  background-color: var(--bg-color);
}

.cta {
  color: var(--bg-color);
}

input[type="file"] {
  display: none;
}

.vertical-absolute-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ratio {
  resize: horizontal;
  overflow: auto;
  min-width: 150px;
  width: 280px;
  resize: horizontal;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.ratio:hover {
  border: 1px solid blue;
  border-radius: 0;
}

.initial-height {
  min-height: 570px;
}

.mobile-mockup {
  border-radius: 2rem;
  position: relative;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.mobile-mockup > div {
  border-radius: 1.9rem;
  overflow: hidden;
  height: 100%;
  z-index: 0;
}

.mobile-mockup > div::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 2.2rem;
  box-shadow: inset 0 0 5px 5px rgba(150, 150, 150, 0.5);
}

.steps {
  max-width: 520px;
}

.active {
  z-index: 1;
  /* transition: filter 1s; */
  /* opacity: 1; */
}

@keyframes flash {
  0% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0);
  }
}
